.active {
    color: rgb(0, 81, 255) !important;
    font-weight: bold;
}

.content-header-active-title {
    font-size: 1.2rem;
}

.ql-align {
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
}

#scroll1 {
    border: 0;
    padding: 0 5px;
}

.fixed {
    position: fixed !important;
    width: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    z-index: 2;
}

.upload-post-title {
    margin-top: 100px !important;
}

.ht-200 {
    height: 300px !important;
}

input[type="text"]:focus {
    background-color: rgba(214, 242, 255, 0.363);
}

textarea,
input[type="text"],
input[type="file"],
#datepicker {
    background-color: rgba(214, 242, 255, 0.363) !important;
}

.btn-primary {
    background-color: rgba(0, 174, 255, 0.979);
    border: 0;
    color: white;
    cursor: pointer !important;
}

.btn-primary:hover {
    cursor: pointer !important;
}

#customFile {
    background-color: rgba(214, 242, 255, 0.363) !important;
}

.post-body {
    width: 100%;
    height: 40%;
}

.table {
    /* box-shadow: 0px 3px 2px #ddd; */
    border-radius: 7px !important;
}

.badge-pill {
    border-radius: 5rem;
    font-size: 0.87rem;
}

.badge-my-warning {
    background-color: rgba(255, 196, 0, 0.383);
    color: rgb(185, 115, 2);
    padding: 0.3rem 0.5rem;
}

.badge-my-danger {
    background-color: rgba(255, 0, 21, 0.247);
    color: rgb(185, 2, 33);
    padding: 0.3rem 0.5rem;
}

.my-bg-light {
    background-color: #e2e8f0;
}

table {
    border-radius: 0.5rem !important;
    border-spacing: 0;
    border-collapse: separate !important;
    box-shadow: 0px 2px 20px #ccc;
}

table tr th:first-child {
    padding: 0.64rem 0.7rem !important;
}

table tr td {
    padding: 0.5rem 0.7rem !important;
}
