@import url("https://fonts.googleapis.com/css?family=Dosis:500&display=swap");
:root {
    --main-color: rgb(48, 127, 247);
    --white-color: #fff;
    --dark-font-color: rgb(37, 38, 39);
    --font-size-navbar: 17px;
    --font-family-default: "Dosis", sans-serif;
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/texgyretermes-regular.otf);
}

@font-face {
    font-family: myanmar-font;
    src: url(../fonts/pyidaungsu.ttf);
}

.p-myanmar-font {
    font-family: myanmar-font;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: var(--font-family-default);
    color: #777;
}

/* # navbar */

.topnav-wrapper {
    position: absolute;
    z-index: 9;
    width: 100%;
    position: fixed;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: var(--main-color) !important;
    color: white !important;
}

.dropdown.active {
    color: #fff !important;
}

.topnav.scrolled .dropdown.active {
    color: #fff !important;
}

/* hereeee */

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

#down-arrow-navbar {
    width: 11.5px;
    height: 11.5px;
    transition: all 0.15s ease-in-out;
    fill: #fff;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--main-color) !important;
    color: var(--white-color) !important;
}

.topnav a:hover,
.dropdown:hover #down-arrow-navbar {
    fill: white;
}

.dropdown:hover #down-arrow-navbar {
    transform: rotate(180deg);
}

.my-dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.my-dropdown-content a {
    float: none;
    background-color: white;
    color: var(--dark-font-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.my-dropdown-content a:hover {
    background-color: var(--main-color);
    color: white;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: var(--main-color) !important;
    color: white;
}

.dropdown:hover .my-dropdown-content {
    display: block !important;
}

/* end navbar */

/* navbar scrolled */

.topnav.scrolled {
    background-color: rgb(255, 255, 255) !important;
    transition: background-color 700ms ease-out;
    box-shadow: 0px 3px 3px rgba(73, 73, 73, 0.192);
}

.topnav.scrolled a {
    color: var(--dark-font-color);
}

.topnav.scrolled a:hover {
    color: white;
}

.topnav.scrolled .dropdown .dropbtn:hover {
    color: rgb(255, 255, 255) !important;
}

.topnav.scrolled .dropdown.active #down-arrow-navbar {
    fill: rgb(255, 255, 255) !important;
}

.topnav.scrolled .dropdown:hover #down-arrow-navbar {
    fill: white !important;
}

.topnav.scrolled .dropdown:hover .dropbtn {
    color: white !important;
}

.topnav.scrolled a.active {
    color: #fff !important;
}

.topnav.scrolled #down-arrow-navbar {
    fill: var(--dark-font-color);
}

.topnav.scrolled .dropbtn {
    color: var(--dark-font-color) !important;
}

/* end navbar scrolled */

/* # full background image */

.bgimg-1 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg-img.png");
    height: 100%;
}

.bgimg-half {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/bg-img.png");
    height: 50%;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* end background image */

/* home page logo */

.home-logozation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.home-logo {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.caption-logo {
    color: #fff;
    font-family: myanmar-font !important;
    font-size: 2.3rem;
    font-weight: normal;
    margin: 0;
}

.span-logo {
    color: #fff;
    font-size: 1.4rem;
    font-family: titleFont !important;
}

/* end logo section */

@media screen and (max-width: 600px) {
    .topnav a:not(:last-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
        background-color: transparent !important;
        color: var(--dark-font-color) !important;
    }
    .topnav.responsive a.icon {
        color: #fff !important;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        background-color: white;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: var(--dark-font-color);
    }
    .topnav.responsive a.active {
        color: #fff !important;
    }
    .topnav .icon {
        background-color: transparent !important;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .my-dropdown-content {
        position: relative;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
    }
    #down-arrow-navbar {
        fill: var(--dark-font-color);
    }
    .my-dropdown-content a {
        background-color: rgba(14, 179, 255, 0.13);
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
        color: var(--dark-font-color);
    }
    .topnav.responsive .dropdown .dropbtn:hover {
        color: white !important;
    }
    .home-logo {
        width: 170px;
        height: 170px;
    }
    .caption-logo {
        font-size: 1.45rem;
        font-weight: normal;
    }
    .span-logo {
        font-size: 1rem;
        margin-top: 10px;
    }
    h2 {
        font-size: 1.85rem;
    }
}
