@import url("https://fonts.googleapis.com/css?family=Dosis:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro&display=swap");
:root {
    --main-color: rgb(48, 127, 247);
    --main-dark-color: rgb(3, 76, 187);
    --white-color: #fff;
    --dark-font-color: rgb(37, 38, 39);
    --h2-font-color: rgb(61, 61, 61);
    --font-size-navbar: 17px;
    --font-family-default: "Dosis", sans-serif;
    --font-secondary: "Source Serif Pro", serif;
    --default-button-size: 0.9rem;
    --reagional-organizations-bg: #e6f3fd;
    --h2-hr: #434343;
    --p-color: rgb(78, 78, 78);
}

@font-face {
    font-family: titleFont;
    src: url(../fonts/texgyretermes-regular.otf);
}

/* # scrollspy */

a.anchor {
    padding-top: 90px;
}

a.nav-anchor {
    /* padding-top: 20px; */
}

/* end scrollspy */

.btn {
    font-size: var(--default-button-size);
}

.my-btn {
    color: white;
    background-color: var(--main-color);
    border-radius: 0;
    font-family: var(--font-family-default);
}

.my-btn:hover {
    color: white;
    background-color: var(--main-dark-color);
}

.my-hr {
    position: absolute;
    width: 80% !important;
}

.my-underline {
    position: relative;
    width: 10% !important;
    border-top: 2px solid rgb(145, 145, 145);
}

.btn-on-hr {
    top: -3px;
    float: right;
    position: relative;
}

/* # what-angl-is */

.h2-hr {
    width: 30%;
    height: 5px;
    background-color: var(--h2-hr);
    margin-bottom: 10px;
}

.hr-on-what-angl-is {
    width: 30%;
    height: 5px;
    background-color: var(--h2-hr);
    margin-bottom: 10px;
}

/* end what-angl-is */

/* reagional-organizations */

.badge {
    font-family: var(--font-family-default) !important;
    font-weight: 300;
    color: white;
    cursor: pointer;
}

.res-200-200 {
    width: 200px;
    height: 200px;
    border: 1px solid #eee;
}

.fb-link {
    border: 1px solid #eee;
    padding: 0.3rem;
}

.region-div {
    padding: 0 3rem;
}

.reagional-organizations {
    background-color: var(--reagional-organizations-bg);
}

.slick-slider-img {
    border: 0px solid rgb(58, 58, 58);
    padding: 1rem;
    background-color: white;
    width: 150px;
}

.slick-track {
    float: left !important;
}

.slick-prev,
.slick-next {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    top: 50%;
    z-index: 1;
    background-color: var(--main-color);
    border: 0;
    border-radius: 0;
    width: 30px !important;
    height: 30px;
    padding: 0.35rem;
    outline: none;
    cursor: pointer;
    display: block;
    position: absolute;
    margin: 0 0.3rem;
}

.slick-prev {
    left: -25px;
}

.slick-next {
    right: -25px;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--main-dark-color);
}

/* end reagional-organizations */

/* # news */

.line {
    margin-bottom: 1rem;
    margin-top: 1.25rem;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.title {
    border: 0px solid #bdc1c5;
    border-radius: 0;
    padding: 0 0;
}

.card {
    border: 0 !important;
    border-radius: 0 !important;
}

.project-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.proCont {
    width: 30%;
    height: 230px;
    margin: 1.6%;
    background-color: #b8b6b6;
}

.proCont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-left: 0 !important;
}

a:hover {
    position: relative;
}

a[data]:hover:after {
    content: attr(data);
    padding: 4px 8px;
    font-family: "Source Serif Pro", serif;
    color: white;
    position: absolute;
    left: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 2;
    background-color: var(--main-color);
}

.card-img {
    border-radius: 0 !important;
    transition: all ease-in-out 0.3s;
}

.img-wrap {
    position: relative;
}

.img-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 93, 231, 0.616);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* transition effect. not necessary */
    /* transition: opacity 0.2s, visibility 0.2s; */
}

.img-wrap:hover .img-description {
    visibility: visible;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    color: white !important;
}

.news-title {
    color: var(--dark-font-color);
}

.old-activities {
    opacity: 0.82;
}

/* end news */

/* # get the book */

.get-the-book {
    background-image: url("../img/get-the-book.png");
    position: relative;
    padding: 70px 0;
}

.book-covers {
    width: 400px;
    height: 300px;
}

.get-the-book-heading {
    /* font-family: 'Merriweather', serif; */
    font-size: 1.5rem;
}

.get-the-book-content {
    top: 50%;
    transform: translate(0, 50%);
    font-family: "Source Serif Pro", serif;
}

/* end get the book */

/* # stay update */

.hexagon {
    width: 40px;
    height: 23.09px;
    background: var(--main-color);
    margin: 0 auto;
    position: relative;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.hexagon:before {
    top: -11px;
    left: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 11px solid var(--main-color);
}

.hexagon:after {
    bottom: -11px;
    left: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 11px solid var(--main-color);
}

.mail-icon {
    background-repeat: no-repeat;
    width: 20px;
    height: auto;
    margin-top: -5px;
}

.h4-stay-update {
    color: var(--dark-font-color);
    font-family: var(--font-secondary);
}

.subscribe-text {
    font-size: 1.1rem;
}

.stay-update .email {
    background-color: white;
    width: 300px;
    height: 35px;
}

.stay-update .email::placeholder {
    color: rgb(138, 138, 138);
}

.stay-update .email {
    padding-left: 10px;
    outline: none;
}

.stay-update button {
    background-color: var(--main-color);
}

/* end stay update */

/* # footer */

.footer {
    background-color: #2f3030;
}

/* end footer */

/************ # about.html *************/

.whole-back-link {
    color: white;
}

.back-link {
    color: white;
    text-decoration: underline;
    font-size: 1.2rem;
}

.back-link:hover {
    color: white;
    cursor: pointer;
}

.sub-section {
    padding: 1rem 0rem;
}

.sub-nested-section {
    padding: 2.5rem 0 2rem 3rem;
    margin-top: 1rem;
}

.about-section .font-secondary,
li {
    font-family: var(--font-secondary) !important;
}

.sub-nested-section h3 {
    font-family: var(--font-secondary);
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    font-size: 1.5rem;
    padding-bottom: 0.7rem;
}

.content-link {
    color: #7c7c7c;
}

#my-scrollspy ul li {
    list-style: none;
}

#my-scrollspy ul li:hover {
    cursor: pointer;
}

.accordion {
    font-family: var(--font-secondary);
    font-size: 0.92rem;
}

.collapse .card-body a {
    font-family: var(--font-secondary);
    font-size: 0.92rem;
}

.card-header,
.card-body {
    background-color: transparent;
    padding: 0 1rem !important;
    margin: 0rem !important;
    border-radius: 0 !important;
    border: 1px solid rgba(151, 151, 151, 0.39);
    border-top: 0;
}

.btn-link:focus {
    text-decoration: none;
    outline: none !important;
    color: #434343;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}

.plus {
    /* top: 50%; */
    font-size: 1.2rem;
}

/************ end about.html ************/

@media screen and (max-width: 600px) {
    .region-div {
        padding: 0 1.5rem;
    }
    .region-sec-column {
        margin-top: 20px;
    }
    .sub-nested-section {
        padding: 1rem 0 1rem 0.5rem;
    }
    .sub-nested-section h3 {
        font-family: var(--font-secondary);
        font-weight: normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        font-size: 1.5rem;
        padding-bottom: 0.7rem;
    }
    .proCont {
        width: 100%;
    }
}

/************ individual activity ************/

h2,
h5 {
    font-family: "Source Serif Pro", serif;
    color: var(--h2-font-color);
}

p,
.text-body {
    text-align: justify;
    text-justify: inter-word;
    font-family: "Source Serif Pro", serif;
    color: var(--p-color) !important;
}

.latest-news-item {
    padding: 1rem 1rem 0rem 1rem;
    margin-top: 0.5rem;
    border: 1px solid rgb(231, 230, 230);
}

.latest-news-item:hover {
    cursor: pointer;
    box-shadow: 0 2px 2px #ccc;
}

.latest-news-item p {
    font-size: 1rem;
}

.latest-news-item a {
    text-decoration: none;
}

.latest-news-item p:first-child {
    line-height: 1.1rem;
    color: rgb(46, 46, 46);
}

.latest-news-item p:last-child {
    margin-top: -7px;
    color: rgb(109, 109, 109);
    font-size: 0.9rem;
}

.btn-all-activities {
    background-color: rgb(240, 240, 240);
    border: 0;
}

.btn-all-activities:hover a {
    color: white;
}

.btn-all-activities:hover {
    color: white;
    background-color: var(--main-color);
}

.btn-all-activities a:hover {
    color: white;
    text-decoration: none;
}
